/*CSS RESTANTE DO SITE*/




/*body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
            display: absolute;
            justify-content: center;
            align-items: baseline;
            font-family: 'Gabarito' , sans-serif;
        }
*/

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: absolute;
    justify-content: center;
    align-items: center;
    font-family: 'Gabarito',sans-serif;
    font-size: 25px;
    }


#texto1{
    color: #93b39e;
    text-decoration: double;
}

.subtitulos-index{
    color: #49701c;
    text-decoration: double;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #e3b39c;


#texto1{
    color: #93b39e;
    text-decoration: double;
}

.subtitulos-index{
    color: #49701c;
    text-decoration: double;
}

}
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;

}

.manual-btn:hover{
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #93b39e;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}
       












        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            
        }


        header {
            text-align: center;
            padding: 20px;
            background-color: #e3b39c;

        }

header nav ul {
    list-style: none;
    padding: 0;
        }

        header nav ul li {
            display: inline;
            margin: 0 10px;
        }

        header nav ul li a {
            text-decoration: none;
            color: #000000;
            font: small-caps bold 14px/1 sans-serif;
            background-color: #93b39e;

        }
        

        .topo {
            position: relative;
            text-align: center;
            padding: 20px;
        }

        .topo img {
            max-width: 100%;
            height: auto;
        }

        #mapa {
            margin-top: 20px;
            text-align: center;
        }

        footer {
            text-align: center;
            padding: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
            background-color: #f9f9f9;
        }
        #texto_principal {
            display:flex;
            align-items: centers;
            flex-direction: column;
            text-align: center;
            padding-left: 50px;
            padding-right: 50px;
            margin-left: 50px;
            margin-right: 50px;

        }



/*CSS Slides*/
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;

}

.manual-btn:hover{
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #93b39e;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}
       















/*Código Comentados*/




/*body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
            display: absolute;
            justify-content: center;
            align-items: baseline;
            font-family: 'Gabarito' , sans-serif;
        }
*/

/*.slider {
            display: flex;


        /*.slider {
            display: flex;

        * { margin: 0; padding: 0; }
        .slider {
            display: block;


            height: 293px;
            width: 600px;
            margin: auto;
            margin-top: 20px;
            position: relative;

        }*/


        /*.slider li {


        }*/


        /*.slider li {

        }

        .slider li {


            list-style: none;
            position: absolute;
        }

        .slider img {
            margin: auto;
            height: 100%;
            width: 100%;
            vertical-align: top;

            align-items: center;
        }

        .slider input {
            display: flex;


            align-items: center;
        }

        .slider input {
            display: flex;

        }

        .slider input {
            display: none;


        }

        .slider label {
            background-color: #000;
            bottom: 10px;
            cursor: pointer;

            display: flex;
            align-items: flex-end;

            display: flex;
            align-items: flex-end;

            display: block;

            height: 10px;
            position: absolute;
            width: 10px;
            z-index: 10;
        }

        .slider li:nth-child(1) label {
            left: 10px;
        }

        .slider li:nth-child(2) label {
            left: 40px;
        }


        .slider li:nth-child(3) label {
            left: 40px;
        }

        .slider li:nth-child(3) label {
            left: 40px;
        }



        
        .slider li input:checked ~ img {

            visibility: none;
            z-index: 11;
        }*/        


            visibility: none;
            z-index: 11;
        }*/

        .topo {
            visibility: visible;
            z-index: 10;
        }

        .main {

            position: relative;
            text-align: center;
            padding: 20px;
        }


        .topo img {

        .main img {

            max-width: 100%;
            height: auto;
        }

        #mapa {
            margin-top: 20px;
            text-align: center;
        }

        footer {
            text-align: center;
            padding: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
            background-color: #f9f9f9;

        }
        #texto_principal {
            display:flex;
            align-items: centers;
            flex-direction: column;
            text-align: center;
            padding-left: 50px;
            padding-right: 50px;
            margin-left: 50px;
            margin-right: 50px;

        }


 /* Estilo para a lista de navegação DOS MENUS */
 header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza os itens */
}

header nav ul li {
    margin: 0 15px; /* Espaçamento entre os itens */
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px; /* Cantos arredondados */
    transition: background-color 0.3s ease; /* Transição suave de cor ao passar o mouse */
}

header nav ul li a:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}
        }


