* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  .container {
    max-width: 1080px;
    margin: auto; /*Centralizar a posição do container*/
    display: flex; /*Atributo que ajudar na hora alinhar os elementos*/
    padding: 30px; /*Espaçamento*/
    align-items: center;
    justify-content: center;
  }
  
  /*ESTILIZANDO O CABEÇALHO*/
  header {
    background-color: #ffffff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  }
  
  /*Logo e sociais*/
  .logo,
  .sociais {
    width: 25%;
  }
  
  .logo img {
    width: 200px;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: #d79c8f;
    font-size: 14px;
  }
  
  nav ul li a:hover{
      color: #93b39e;
  }
  
  nav ul li a::after{
      content: " ";
      display: block;
      width: 0;
      height: 6px;
      border-radius: 200px;
      background: #d79c8f;
      transition: all 0.2s ease;     
  }
  
  nav ul li a:hover::after{
      width: 60%;
      height: 6px;
  }
  
  /*Estilizando menu dropdown dos estados*/
  nav .dropdown-estados a::after {
    content: " ";
    display: block;
    width: 0%;
    height: 4px;
    border-radius: 200px;
    background-color: #d79c8f;
    transition: all 0.2s ease;
  }
  
  .dropdown-estados {
    position: absolute;
    display: none;
    background-color: white;
  }
  
  .dropdown-estados a {
    display: block;
    color: #d79c8f;
  }
  
  .dropdown-guia:hover .dropdown-estados {
    display: block;
  }
  
  /*Estilizando  os ícones de rede sociais*/
  .sociais button {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, #93b39e, #dbebe1);
    border: none;
    margin-right: 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .sociais button i {
    font-size: 20px;
    color: #ffffff;
  }
  
  
  /*Estilizando barra de pesquisa*/
  .search-box {
    position: absolute; /*Position absolute eu consigo colocar o elemento onde eu quiser*/
    top: 2%;
    left: 57%;
    transform: translate(-50% -50%);
    background: linear-gradient(45deg, #93b39e, #dbebe1);
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between; /*justify-content é o alinhamento horizontal*/
    align-self: center; /*align-items alinhamento vertical*/
  }
  
  .search-text {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #f0f5fb;
    font-size: 16px;
    line-height: 40px;
    width: 240px;
  }

/*Estilizando seção descrição do estado*/
.descricao{
    max-width: 1080px;
    margin: auto; /*Centralizar a posição da div descricao*/
    display: table;
    padding: 40px; /*Espaçamento*/
    font-family: 'Montserrat', sans-serif;    
}  

.img-descricao{
    display: table-cell;
    float: right;
    margin-left: 50px; 
    padding-top: 50px;     
}

.paragrafo-descricao{
  width: 500px;  
  display: table-cell;
  text-align: justify;
}

.paragrafo-descricao h1{
  text-align: center;
}

/*Estilizando seção culinária*/
.culinaria{
    max-width: 1080px;
    margin: auto; /*Centralizar a posição da div */
    display: table;
    padding: 40px; /*Espaçamento*/
    font-family: 'Montserrat', sans-serif;
}  

.img-culinaria{
    display: flex;
    float: left;
    margin-left: -10px;
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
}

.paragrafo-culinaria{
  width: 500px;  
  display: table-cell;
  float: left; 
  margin-top: 60px;
  margin-left: 70px;
  text-align: justify;
  
}

.paragrafo-culinaria h1{
  text-align: center;

}

/*Estilizando fundo da seção restaurantes*/

.titulo-restaurantes{
 margin-right: 30px; 
}

.dicas-restaurantes{
    margin: auto; /*Centralizar a posição da div */
    display:flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px; /*Espaçamento*/
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif; 
    text-align: justify;
    width: 900px;
  }

.alinha-titulo{
  margin-top: 100px;
  text-align: center;
}

.conteudo-restaurantes{ 
  display: table-cell;
  margin-top: 10px;
  text-align: justify;
  width: 400px;
}

.fachada-maps{
  margin-top: 10px;
  width: 400px;
  height: 200px;
}

.img-indicacoes{
  width: 400px;
  height: 200px;
  border-radius: 10px;
}


/*Edições para footer*/

/* Estilos para a seção de integrantes */
#integrantes {
  display: flex;
  flex-wrap: nowrap; 
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;

}

.integrante {
  width: 20%;
  text-align: center;
  color: #d79c8f;
}

.integrante img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* Estilos para o rodapé */
footer {
  text-align: center;
  padding: 10px;
  color: #d79c8f; 
}

.copy-footer{
  color: black;
}

/* Estilos para as imagens com efeito de zoom */
.zoomable {
  transition: transform 0.3s; /* Adiciona uma transição suave para o efeito de escala */
}

/* Adiciona o efeito de escala ao passar o mouse */
.zoomable:hover {
  transform: scale(1.2); /* Amplia a imagem em 20% */
}




























