* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  .container {
    max-width: 1080px;
    margin: auto; /*Centralizar a posição do container*/
    display: flex; /*Atributo que ajudar na hora alinhar os elementos*/
    padding: 30px; /*Espaçamento*/
    align-items: center;
    justify-content: center;
  }
  
  /*ESTILIZANDO O CABEÇALHO*/
  header {
    background-color: #ffffff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  }
  
  /*Logo e sociais*/
  .logo,
  .sociais {
    width: 25%;
  }
  
  .logo img {
    width: 200px;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: #d79c8f;
    font-size: 14px;
  }
  
  nav ul li a:hover{
      color: #93b39e;
  }
  
  nav ul li a::after{
      content: " ";
      display: block;
      width: 0;
      height: 6px;
      border-radius: 200px;
      background: #d79c8f;
      transition: all 0.2s ease;     
  }
  
  nav ul li a:hover::after{
      width: 60%;
      height: 6px;
  }
  
  /*Estilizando menu dropdown dos estados*/
  nav .dropdown-estados a::after {
    content: " ";
    display: block;
    width: 0%;
    height: 4px;
    border-radius: 200px;
    background-color: #d79c8f;
    transition: all 0.2s ease;
  }
  
  .dropdown-estados {
    position: absolute;
    display: none;
  }
  
  .dropdown-estados a {
    display: block;
    color: #d79c8f;
  }
  
  .dropdown-guia:hover .dropdown-estados {
    display: block;
  }
  
  /*Estilizando  os ícones de rede sociais*/
  .sociais button {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, #93b39e, #dbebe1);
    border: none;
    margin-right: 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .sociais button i {
    font-size: 20px;
    color: #ffffff;
  }
  
  
  /*Estilizando barra de pesquisa*/
  .search-box {
    position: absolute; /*Position absolute eu consigo colocar o elemento onde eu quiser*/
    top: 2%;
    left: 57%;
    transform: translate(-50% -50%);
    background: linear-gradient(45deg, #93b39e, #dbebe1);
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between; /*justify-content é o alinhamento horizontal*/
    align-self: center; /*align-items alinhamento vertical*/
  }
  
  .search-text {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #f0f5fb;
    font-size: 16px;
    line-height: 40px;
    width: 240px;
  }

/*Estilizando seção descrição do estado*/
.descricao{
    background-color: #93B39E;
    max-width: 1080px;
    margin: auto; /*Centralizar a posição da div descricao*/
    display: table;
    padding: 40px; /*Espaçamento*/
    border-radius: 40px;
    font-family: 'Montserrat', sans-serif;    
}  

.img-descricao{
    display: table-cell;
    float: right;
    margin-left: 50px; 
    padding-top: 50px; 
     
}

.paragrafo-descricao{
  width: 300px;  
  display: table-cell;  
}

/*Estilizando seção culinária*/
.culinaria{
    background-color: #d79c8f;
    max-width: 1080px;
    margin: auto; /*Centralizar a posição da div */
    display: table;
    padding: 40px; /*Espaçamento*/
    border-radius: 40px;
    font-family: 'Montserrat', sans-serif;    
}  

.img-culinaria{
    display: table-cell;
    float: left;
    margin-left: -10px;    
}

.paragrafo-culinaria{
  width: 300px;  
  display: table-cell;
  float: left; 
  margin-top: 60px;
  margin-left: 70px;
  
}

/*Estilizando fundo da seção restaurantes*/

.titulo-restaurantes{
 margin-right: 30px; 
}

.dicas-restaurantes{
    background-color: #93B39E;
    margin: auto; /*Centralizar a posição da div */
    display: table;
    padding: 40px; /*Espaçamento*/
    border-radius: 40px;
    font-family: 'Montserrat', sans-serif; 
    width: 400px;
}

.conteudo-restaurantes01{ 
  background-color: #d79c8f;
  border-radius: 40px;
  padding: 20px;
  display: table-cell;
  margin-top: 10px;
}

.img-dica-01{
 padding: 10px; 
}

.conteudo-restaurantes02{
  background-color: #d79c8f;
  border-radius: 40px;
  padding: 20px;
  transform: translate(10px); 
}

.img-dica-02{
  padding: 10px; 
 }
































