* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  display: grid;
  background-color: #d79c8f;
}

main {
  width: 600px;
  background-color: rgb(231, 230, 230);
  margin: auto;
  border-radius: 16px;
  box-shadow: 11px 14px 46px -11px rgba(0,0,0,0.73);
  -webkit-box-shadow: 11px 14px 46px -11px rgba(0,0,0,0.73);
  -moz-box-shadow: 11px 14px 46px -11px rgba(0,0,0,0.73);
}

section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section img{  
  width: 200px;
}

#form1 {
  display: flex;
  flex-direction: column;
}

#form1 .label1 {
  margin-top: 1.5rem;
  align-self: flex-start;
  margin-left: 60px;
}

#divinputlabel{
  display: flex;
  flex-direction: column;
  align-items: center;

}

#login-usuario{
  width: 200px;
}
#login-senha{
  width: 200px;
}


#botoes{
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
}

#botoes button {
  width: 100px;
  height: 40px;
  margin-top: 2rem;
}

#botoes a{
  padding-top: 30px;
  color: black;
}


/* ========== Estilização do container cadastro ========== */

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

#form-container {
  background-color: rgb(231, 230, 230);
  padding: 20px;
  border-radius: 5px;
}


form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgb(231, 230, 230);
  border-radius: 16px;
  padding: 1.5rem 40px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: .2rem;
  position: relative;
}

label:not(:first-of-type){
  margin-top: 1rem;
}

input {
  border: none;
  border-radius: 4px;
  width: 325px;
  height: 32px;
  margin-top: .5rem;
  margin-bottom: .2rem;
  padding: .5rem;
}

.helper-text {
  display: none;
  font-size: .8rem;
  color: darkred;
}

#botoes{
  display: flex;
}

button {
  width: 100px;
  height: 40px;
  margin-top: 1.5rem;
  font-size: 1rem;
  align-self: center;

}

/* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
  content: "*Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  color: #DFDFDF;
  font-size: .65rem;
  padding: .2rem .3rem;
  width: auto;
  display: block;
  background-color: #202020;
}

input.error {
  border: solid 2px #992020;
  background-color: #CCBBBB;
  color: #662020;
}

input.correct {
  background-color: #BBCCBB;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
}