* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  background-color: #d79c8f;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 400px; /* Reduzindo a largura do main */
  background-color: rgb(231, 230, 230);
  border-radius: 16px;
  box-shadow: 11px 14px 46px -11px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 11px 14px 46px -11px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 11px 14px 46px -11px rgba(0, 0, 0, 0.73);
}

section {
  padding: 1.5rem; /* Reduzindo o padding da seção */
  display: flex;
  flex-direction: column;
  align-items: center;
}

section img {  
  width: 190px; /* Reduzindo o tamanho da imagem */
}

#form1 {
  display: flex;
  flex-direction: column;
}

#form1 .label1 {
  margin-top: 1rem; /* Reduzindo o espaço entre as labels */
  align-self: flex-start;
  margin-left: 60px;
}

#divinputlabel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-usuario {
  width: 200px;
}

#login-senha {
  width: 200px;
}

#botoes {
  display: flex;
  gap: 20px; /* Reduzindo o espaço entre os botões */
  justify-content: space-around;
  align-items: center;
}

#botoes button {
  width: 100px;
  height: 40px;
  margin-top: 1rem; /* Reduzindo o espaço acima do botão */
}

#botoes a {
  padding-top: 20px; /* Reduzindo o espaço acima do link */
  color: black;
}


/* ========== Estilização do container cadastro ========== */

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

#form-container {
  background-color: rgb(231, 230, 230);
  padding: 20px;
  border-radius: 5px;
}


form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgb(231, 230, 230);
  border-radius: 16px;
  padding: 1.5rem 40px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: .2rem;
  position: relative;
}

label:not(:first-of-type){
  margin-top: 1rem;
}

input {
  border: none;
  border-radius: 4px;
  width: 325px;
  height: 32px;
  margin-top: .5rem;
  margin-bottom: .2rem;
  padding: .5rem;
}

.helper-text {
  display: none;
  font-size: .8rem;
  color: darkred;
}

#botoes{
  display: flex;
}

button {
  width: 100px;
  height: 40px;
  margin-top: 1.5rem;
  font-size: 1rem;
  align-self: center;

}

/* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
  content: "*Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  color: #DFDFDF;
  font-size: .65rem;
  padding: .2rem .3rem;
  width: auto;
  display: block;
  background-color: #202020;
}

input.error {
  border: solid 2px #992020;
  background-color: #CCBBBB;
  color: #662020;
}

input.correct {
  background-color: #BBCCBB;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
}

/* Loading */

#loading-overlay {
  /* position: fixed; */
  width: auto;
  height: auto;
  /* background: rgba(255, 255, 255, 0.8); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#loading-spinner {
  display: none;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #d79c8f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
